@import url("https://fonts.cdnfonts.com/css/dracula-3");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=League+Spartan:wght@100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
	themes: all;
}

@theme {
	--color-highlight: #bd1c1f;
	--color-common: #e0dfda;
	--color-rare: #4b90ff;
	--color-epic: #a349ff;
	--color-legendary: #ffb800;
	--color-light: oklch(70% 0.01 56.259);
	--text-shadow-glow:
		0 0 9px var(--color-highlight), 0 0 10px var(--color-highlight),
		0 0 20px var(--color-highlight), 0 0 40px var(--color-highlight);
}

@plugin "daisyui/theme" {
	name: "Eclipse";
	default: true;
	prefersdark: true;
	color-scheme: "light";
	--color-base-100: oklch(21% 0.006 56.043);
	--color-base-200: oklch(14% 0.004 49.25);
	--color-base-300: #bf2727;
	--color-base-content: #e0dfda;
	--color-primary: oklch(21% 0.006 56.043);
	--color-primary-content: #bf2727;
	--color-secondary: #bd1c1f;
	--color-secondary-content: oklch(21% 0.006 56.043);
	--color-accent: oklch(98% 0.001 106.423);
	--color-accent-content: oklch(38% 0.063 188.416);
	--color-neutral: #242323;
	--color-neutral-content: oklch(92% 0.004 286.32);
	--color-info: oklch(91% 0.08 205.041);
	--color-info-content: oklch(29% 0.066 243.157);
	--color-success: oklch(79% 0.209 151.711);
	--color-success-content: oklch(37% 0.077 168.94);
	--color-warning: oklch(92% 0.12 95.746);
	--color-warning-content: oklch(41% 0.112 45.904);
	--color-error: oklch(71% 0.194 13.428);
	--color-error-content: oklch(27% 0.105 12.094);
	--radius-selector: 0.5rem;
	--radius-field: 0.25rem;
	--radius-box: 1rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 0;
	--noise: 0;
}

.box-shadow-glow {
	/* 	box-shadow: 0px 0px 17px 6px var(--color-highlight);
	-webkit-box-shadow: 0px 0px 17px 6px var(--color-highlight); */
	filter: drop-shadow(0 0 17px var(--color-highlight));
}

* {
	font-family: "Cinzel Decorative", serif;
}
